# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uil[dt]
[Ll]ibrary/
sysinfo.txt
Assets/UnityVS*

PowerOfTheElements_Data/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.vs
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

.ssh/
Assets/Scenes/Main.meta
Assets/Scenes/Main/LightingData.asset
Assets/Scenes/Main/LightingData.asset.meta
Assets/Scenes/Main/ReflectionProbe-0.exr
Assets/Scenes/Main/ReflectionProbe-0.exr.meta
Assets/Scenes/Menu.meta
Assets/Scenes/Menu/LightingData.asset
Assets/Scenes/Menu/LightingData.asset.meta
Assets/Scenes/Menu/ReflectionProbe-0.exr
Assets/Scenes/Menu/ReflectionProbe-0.exr.meta
Assets/Scenes/testMap.meta
Assets/Scenes/testMap/LightingData.asset
Assets/Scenes/testMap/LightingData.asset.meta
Assets/Scenes/testMap/ReflectionProbe-0.exr
Assets/Scenes/testMap/ReflectionProbe-0.exr.meta
Assets/Scenes/testMap2.meta
Assets/Scenes/testMap2/LightingData.asset
Assets/Scenes/testMap2/LightingData.asset.meta
Assets/Scenes/testMap2/ReflectionProbe-0.exr
Assets/Scenes/testMap2/ReflectionProbe-0.exr.meta
Assets/Scenes/AttributesComponentsDemo.meta
Assets/Scenes/AttributesComponentsDemo/LightingData.asset
Assets/Scenes/AttributesComponentsDemo/LightingData.asset.meta
Assets/Scenes/AttributesComponentsDemo/ReflectionProbe-0.exr
Assets/Scenes/AttributesComponentsDemo/ReflectionProbe-0.exr.meta
